<html>
  <head><title>Openlayers Marker Array Example</title></head>
  <body>
  <div id="mapdiv"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script> 
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());
    
    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
   
    var lonLat = new OpenLayers.LonLat( 21.432546,41.995788 ).transform(epsg4326, projectTo);
          
    var zoom=14;
    map.setCenter (lonLat, zoom);

    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
    
    //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
    };
    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<div class="markerContent">'+feature.attributes.description+'</div>',
          null,
          true,
          function() { controls['selector'].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();
    
    setInterval(function(){ 
      $.get('https://statuesque-repeated-rooster.glitch.me/location',function(data,status){
        removePins();
        addPins(data);
      });     
    }, 1000);
    
    function removePins(){
      vectorLayer.destroyFeatures();
      while( map.popups.length ) {
         map.removePopup(map.popups[0]);
      }
    }
    
    function addPins(markers){    
      for (var i=0; i<markers.length; i++) {

         var lon = markers[i].lng;
         var lat = markers[i].lat;

        var feature = new OpenLayers.Feature.Vector(
                  new OpenLayers.Geometry.Point( lon, lat ).transform(epsg4326, projectTo),
                  {description: "pin " + i} ,
                  {externalGraphic: 'https://cdn.glitch.com/c582cae0-3d77-4f0b-898c-14c541a35704%2Fmarker.png?v=1593604989759', graphicHeight: 30, graphicWidth: 30, graphicXOffset:-12, graphicYOffset:-25  }
              );            
          vectorLayer.addFeatures(feature);
      }                        

      map.addLayer(vectorLayer);
    }
  </script>
  
</body></html>
    